[Unit]
Description=FakeDNS server
After=network.target nftables.service
Requires=nftables.service

[Service]
Type=simple
User=root
ExecStart=/usr/bin/fakedns \
    --domains=/etc/fakedns/fake-domains.list \
    --listen=127.0.0.1 \
    --port=50053 \
    --fake4=198.18.0.0/15 \
    --fake6=abcd:bad:c0de::/64 \
    --catch-all-port=50054 \
    --fwmark=0x80000000 \
    --upstream=1.1.1.1:53 \
    --autoreload=true
ExecReload=/usr/bin/kill -HUP $MAINPID
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
